<div class="container-fluid" style="background-color: aqua;">
    <div class="container-xxl" style="background-color: bisque;">
        <div class="row">
            <div class="col-6" style="background-color: blue;">
                <h1>Multiplicadores del cambio a traves del desarrollo social</h1>
                <h5>Conectamos con personas, empresas y comunidades para generar impacto.</h5>
                <button class="btn btn-outline-secondary btn-md" type="submit">Contáctanos</button>
            </div>
            <div class="col-6" style="background-color: violet;">
                <div id="animation-container"></div>
                     
            </div>
        </div>
    </div>
</div>